<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <h2>Welcome!</h2>
    <h1>About Oluwatobi Adelabu</h1>
    <table>
        <tr>
            <td><a href="/home">Home</a></td>
            <td><a href="/about">About</a></td>
            <td><a href="/contact">Contact</a></td>
        </tr>
    </table>
    <br>
    I am free-spirited and always wiling to learn new things. <br>
    I do not relent until I learn.
    I love coding and gaming alot. <br>
    At the moment, I can work with HTML, CSS, JS, PHP, Laravel, Bootstrap, Tailwind, SQL, Node.js, ReactJs, and MongoDB.
    <br>
    I also have excellent knowledge of UI design using Figma and WordPress. I am not done learning.
</body>

</html>