<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oluwatobi Adelabu - Home</title>
</head>

<body>
    <h2>Welcome!</h2>
    <h1>I am Oluwatobi Adelabu</h1>
    <table>
        <tr>
            <td><a href="/home">Home</a></td>
            <td><a href="/about">About</a></td>
            <td><a href="/contact">Contact</a></td>
        </tr>
    </table>
    <br>
    <table>
        <tr>
            <td>Gender:</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Profession:</td>
            <td>Web Developer</td>
        </tr>
        <tr>
            <td>Preferred Statement:</td>
            <td>Work hard, work smart, and rest.</td>
        </tr>
        <tr>
            <td>Ambition:</td>
            <td>Launch amazing web solutions and work in top-rated companies.</td>
        </tr>
        <tr>
            <td>Hobbies:</td>
            <td>Coding and Gaming</td>
        </tr>
        <tr>
            <td>Dislikes:</td>
            <td>Pawpaw</td>
        </tr>
    </table>
</body>

</html>